.footer{
    background-color: $bg-w-cl;
    margin-top: auto;
    padding: 120px 0;
    background-color: $main-cl;
    .logo{
    }

    .columns{
        justify-content: space-between;
    }

    .column{
        &.txt{
            width: calc(100% / 12 * 7 + 30px);
        }

        &.inf{
            width: calc(100% / 12 * 2 + 30px);
        }
    }

    .ft-tt{
        margin-bottom: 16px;
    }

    .ft-content{
        line-height: 1.5;

        .list{
            padding: 15px 0;
        }

        .item{
            display: flex;
        }

        .ft-icon{
            padding-right: 15px;
            flex-shrink: 0;
            margin-top: 4px;
        }
    }

    .ft-t{
        span{
            text-decoration: underline;
        }
    }

    .ft-itm{
        display: flex;
    }

    .ft-link{
        transition: all .3s ease;
        &:hover{
            color: $red-cl;
        }
    }

    .ft-follow{
        margin-top: 70px;

        .ft-tt{
            margin-bottom: 0;
        }
    }
    
    .ft-social{
        margin-top: 5px;
        display: flex;
        align-items: center;

        .social-item{
            &:not(:first-child){
                margin-left: 8px;
            }
            transition: all .3s ease;
            &:hover{
                transform: translateY(-5px);
            }
        }
    }
}